<!DOCTYPE html>
<html>
  <head>
    <title>Basket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/vnd.microsoft.icon" sizes="32x32"
    href="<%= image_url('favicon.ico') %>">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
